
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #699d71;
    color: #fff;
  }
  
  .logo-container img {
    max-height: 90px; /* Adjust the height based on your design */
  }
  
  .cart-container {
    font-size: 1.5rem;
    position: relative;
  }
  
  .cart-container a {
    color: #fff;
    text-decoration: none;
  }

  .cart {
    max-width: 500px;
    color: white;
  }

  .header-logo {
    max-width: 60%;
    margin: 10px;
  }
  
  .cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
  }
  