.wrapper {
    display: flex;
  }
  
  .carousel {
    flex: 1;
  }
  
  .info-container {
    flex: 1;
    padding: 20px;
    margin-right: 10%; 
    box-sizing: border-box;
  }
  

  button {
    background-color: #699d71;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #80bc89; /* Replace with the lighter color you want */
  }
  